@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@font-face {
    font-family: "SFProBold";
    src: url(./fonts/SFProBold.OTF);
}
@font-face {
    font-family: "SFProRegular";
    src: url(./fonts/SFProRegular.OTF);
}
@font-face {
    font-family: "SFProMedium";
    src: url(./fonts/SFProMedium.OTF);
}


body {
  color: var(--foreground);
  background: var(--background);
}
